.intro-component {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  p {
    font-size: 1.5em;
  }

  section {
    height: 100vh;
    display: grid;
    place-items: center;
    scroll-snap-align: start;
  }

  #sticky-container {
    position: sticky;
    top: -35%;
    scroll-snap-align: none;
    font-size: 5em;
    color: rgb(169, 55, 55);
  }
}

@media screen and (max-width: 600px) {
  .intro-component {
    h1 {
      font-size: 4.5em;
      font-weight: 700;
      line-height: 1em;
    }

    p {
      font-size: 1em;
      line-height: 1.25em;
      padding: 1em;
    }

    #sticky-container {
      top: -2em;
    }
  }
}
