@use '../../Styles/global.scss' as g;

.projects-section {
  width: 100vw;
  min-height: 100vh;
  padding: 2em 0;

  .projects-section-title {
    font-size: 1em;
    padding: 2em 0;
    margin: 0;
  }

  p {
    font-size: 1.5em;
    padding: 1em 5em;
    margin: 0;
  }

  .swiper {
    padding: 3.5em 0;

    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
    }

    .swiper-slide {
      aspect-ratio: 16/10;
      border-radius: 15px;
      transform: scale(0.9);

      &:hover {
        transition: 0.2s ease-out;
        transform: scale(1.05);
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .projects-section {
    overflow: hidden;

    p {
      padding: 1.5em;
    }

    .swiper {
      width: 100em;

      .swiper-slide {
        &:hover {
          transform: scale(1.5);
          z-index: 5;
        }
      }
    }
  }
}
