.projects-section {
  width: 100vw;
  min-height: 100vh;

  .swiper {
    margin: 5em 0;

    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
    }

    .swiper-slide {
      width: 100%;
      aspect-ratio: 16/9;
      border: 1px solid rgba(black, 0.1);

      &:hover {
        background-color: green;
      }
    }
  }
}
