@use '../../Styles/global.scss' as g;

.projects-section {
  padding: 2em 0;

  .projects-section-title {
    font-size: 1em;
    padding: 2em 0;
    margin: 0;
  }

  .swiper {
    padding: 2vmax 0;

    .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
      transition-timing-function: linear !important;
    }

    .swiper-slide {
      aspect-ratio: 16/10;
      border-radius: 25px;
      transform: scale(0.9);

      &:hover {
        transition: 0.2s ease-out;
        transform: scale(1.05);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .projects-section {
    overflow: hidden;
    .swiper {
      height: 75vh;
      aspect-ratio: 1 / 1;
      padding: 1em 0;
    }
  }
}
