@use '../../Styles/global.scss' as g;
// Author: Ali Klein
// Source: https://codepen.io/AliKlein/details/jOByZQM

$easing: cubic-bezier(0.18, 0.89, 0.32, 1.27);
$duration: 0.5s;

.wheel-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;

  .wheel {
    position: absolute;
    top: 35%;
    left: 0%;
    width: 55em;
    height: 55em;
    transition: transform $easing $duration;
  }

  .slide {
    width: 12em;
    height: 12em;
    border: 0.3vmin solid g.$warm-color;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: transform $easing $duration;
    @include g.card-shadows;
  }

  .slide p {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 5em;
    pointer-events: none;
    z-index: -1;
  }

  .slide.active {
    background-color: g.$warm-color;
    color: g.$light-color;
    border-width: 1.3vmin;
  }

  .slide img {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  .text-box {
    width: 62%;
    height: 100%;
    position: absolute;
    top: -5em;
    right: 0;
    display: grid;
    place-items: center;

    h1 {
      font-weight: 700;
    }

    p {
      padding: 0 5em;
    }
  }

  .arrows {
    z-index: 2;

    button {
      width: 5%;
      height: 100%;
      position: absolute;
      top: 0;
      border: none;
      background: transparent;
      cursor: pointer;
      color: g.$warm-color;
      font-size: 2rem;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1.5);
        transition: transform $easing $duration;
      }
    }

    .arrow-left {
      left: 0;
    }

    .arrow-right {
      right: 0;
    }
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
