// Author: Ali Klein
// Source: https://codepen.io/AliKlein/details/jOByZQM

$easing: cubic-bezier(0.18, 0.89, 0.32, 1.27);
$duration: 0.5s;

.wheel-container {
  width: 100%;
  height: 100%;
  background-color: red;
  display: grid;
  place-items: center;
  position: relative;

  .wheel {
    position: absolute;
    top: 35%;
    left: 0%;
    width: 55em;
    height: 55em;
    transition: transform $easing $duration;
  }

  .slide {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: transform $easing $duration;
    border: 0.3vmin solid white;
  }

  // .slide img {
  //   user-select: none;
  // }

  .slide-icon {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 5em;
  }

  .slide.active {
    border-width: 1.3vmin;
  }

  .slide img {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  .arrows {
    width: 110vmin;
    z-index: 2;

    button {
      top: 50%;
      position: absolute;
      border: none;
      background: transparent;
      cursor: pointer;
      color: rgb(61, 34, 34);
      font-size: 2rem;
    }

    .arrow-left {
      left: 0;
    }

    .arrow-right {
      right: 0;
    }

    button:active {
      transform: scale(1.5);
      transition: transform $easing $duration;
    }
  }
}
