@use '../../Styles/global.scss' as g;
// Author: Ali Klein
// Source: https://codepen.io/AliKlein/details/jOByZQM

$easing: cubic-bezier(0.18, 0.89, 0.32, 1.27);
$duration: 0.5s;

.wheel-container {
  width: 100%;
  height: 100%;
  position: relative;

  .wheel {
    position: absolute;
    top: 48%;
    width: 60%;
    aspect-ratio: 1 / 1;
    transition: transform $easing $duration;
    border: 1px solid g.$warm-color;
    border-radius: 50%;
  }

  .slide {
    width: 12vw;
    aspect-ratio: 1 / 1;
    border: 0.3vmin solid g.$warm-color;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    transition: all $easing $duration;
    @include g.card-shadows;

    p {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      font-size: 5vmax;
      pointer-events: none;
      z-index: -1;
    }
  }

  .slide.active {
    background-color: g.$warm-color;
    color: g.$light-color;
    border-width: 1.3vmin;
  }

  .slide img {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  .text-box {
    width: 60%;
    position: absolute;
    right: 5%;
    top: 38vh;

    h1 {
      font-weight: 700;
    }

    p {
      font-size: 1.25vmax;
      padding: 0 5em;
      text-align: justify;
    }
  }

  .arrows {
    z-index: 2;

    button {
      width: 5%;
      height: 100%;
      position: absolute;
      top: 0;
      border: none;
      background: transparent;
      cursor: pointer;
      color: g.$warm-color;
      font-size: 2rem;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1.5);
        transition: transform $easing $duration;
      }
    }

    .arrow-left {
      left: 1%;
    }

    .arrow-right {
      right: 1%;
    }
  }
}
@media screen and (max-width: 600px) {
  .wheel-container {
    .wheel {
      position: absolute;
      top: 50%;
      width: 165%;
      aspect-ratio: 1 / 1;
      transition: transform $easing $duration;
      border: 1px solid g.$warm-color;
      border-radius: 50%;
      z-index: 2;
    }

    .slide {
      width: 6em;

      p {
        font-size: 3.5em;
      }
    }

    .text-box {
      width: 80%;
      position: absolute;
      left: 1em;
      top: 30%;
      text-align: left;

      h1 {
        width: 50%;
      }

      p {
        font-size: 0.85em;
        padding: 0em 6em 0 0;
        text-align: left;
      }
    }

    .arrows {
      display: none;
    }
  }
}
