@use '../../Styles/global' as g;

.experience-section {
  min-height: 100vh;
  padding: 3.5vmax 0;

  .experience-title {
    font-size: 1em;
    padding: 2em 0;
    margin: 0;
  }

  .org-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .logo {
      width: 15vmax;
      height: 15vmax;
      border: 1px solid g.$warm-color;
      border-radius: 25px;
      background-size: 12vmax;
      background-repeat: no-repeat;
      background-position: center;
      transform: scale(0.9);
      @include g.card-shadows;

      &:hover {
        transform: scale(1);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      h3 {
        height: 100%;
        background-color: rgba($color: g.$warm-color, $alpha: 0.9);
        color: g.$light-color;
        border-radius: inherit;
        font-size: 1.5vmax;
        font-weight: 700;
        display: grid;
        place-items: center;
        opacity: 0;
        padding: 0 1em;
        transition: all 0.2s ease;

        &:hover {
          opacity: 1;
          backdrop-filter: invert(1) blur(2px);
        }
      }
    }
  }

  .swiper {
    .swiper-slide {
      width: 100%;
      height: 100%;
      font-size: 1.5em;

      h1,
      h3 {
        margin: 0;
      }

      h1 {
        font-size: 2vmax;
        font-weight: 700;
      }

      h3 {
        font-size: 0.5em;
      }

      p {
        font-size: 1.15vmax;
        text-align: justify;
        padding: 3em 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .experience-section {
    padding: 0;
    .org-grid {
      margin-bottom: 2em;
      .logo {
        width: 10em;
        height: 10em;
      }
    }
    .swiper {
      .swiper-slide {
        h1 {
          font-size: 1.25em;
        }

        p {
          font-size: 0.75em;
          padding: 1em 2.5em;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .experience-section {
    .experience-title {
      font-size: 1em;
      padding: 2em 0;
    }

    .org-grid {
      margin-bottom: 2.5em;
    }
    .swiper {
      .swiper-slide {
        p {
          text-align: center;
        }
      }
    }
  }
}
