@use '../../Styles/global' as g;

.experience-section {
  .org-grid {
    margin: 2em 0;

    .logo {
      width: 20em;
      height: 20em;
      border: 1px solid g.$warm-color;
      border-radius: 25px;
      background-size: 10em;
      background-repeat: no-repeat;
      background-position: center;
      transform: scale(0.9);
      @include g.card-shadows;

      &:hover {
        transform: scale(1);
        transition: all 0.2s ease;
        cursor: pointer;
      }

      h3 {
        width: 100%;
        height: 100%;
        background-color: rgba($color: g.$warm-color, $alpha: 0.8);
        color: g.$light-color;
        display: grid;
        place-items: center;
        border-radius: inherit;
        font-weight: 700;
        font-size: 1.5em;
        text-align: center;
        padding: 1em;
        opacity: 0;
        transition: opacity 0.2s, visibility 0.2s;

        &:hover {
          opacity: 1;
          backdrop-filter: invert(1) blur(2px);
        }
      }
    }
  }

  .swiper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-slide {
      font-size: 1.5em;
      padding: 2em;

      h1,
      h3 {
        margin: 0;
      }

      h3 {
        font-size: 0.5em;
      }

      p {
        margin: 1.5em 0;
      }
    }
  }
}
