@use '../../Styles/global' as g;

.experience-section {
  min-height: 100vh;

  .org-grid {
    margin: 2em 0;

    .logo {
      width: 20em;
      height: 20em;
      border: 1px solid g.$warm-color;
      border-radius: 25px;
      background-size: 10em;
      background-repeat: no-repeat;
      background-position: center;
      transform: scale(0.9);
      @include g.card-shadows;

      &:hover {
        transform: scale(1);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      h3 {
        width: 100%;
        height: 100%;
        background-color: rgba($color: g.$warm-color, $alpha: 0.9);
        color: g.$light-color;
        border-radius: inherit;
        font-weight: 700;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1em;
        opacity: 0;
        transition: all 0.2s;

        ul {
          list-style: none;
          padding: 0;

          span {
            font-size: 0.5em;
          }
        }

        &:hover {
          opacity: 1;
          backdrop-filter: invert(1) blur(2px);
        }
      }
    }
  }

  .swiper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-slide {
      font-size: 1.5em;
      padding: 2em;

      &:nth-child(1) {
        h3 {
          background-color: rgba($color: g.$warm-color, $alpha: 0.8);
          color: g.$light-color;
          font-weight: 700;
          padding: 0.25em;
        }
      }

      h1,
      h3 {
        margin: 0;
      }

      h3 {
        font-size: 0.5em;
      }

      p {
        margin: 1.5em 0;
      }
    }
  }
}
