@use '../../Styles/global' as g;

.experience-section {
  min-height: 100vh;

  .experience-title {
    font-size: 1em;
    margin: 2em 0;
  }

  .org-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .logo {
      width: 15em;
      height: 15em;
      border: 1px solid g.$warm-color;
      border-radius: 25px;
      background-size: 10em;
      background-repeat: no-repeat;
      background-position: center;
      transform: scale(0.9);
      @include g.card-shadows;

      &:hover {
        transform: scale(1);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      h3 {
        width: 100%;
        height: 100%;
        background-color: rgba($color: g.$warm-color, $alpha: 0.9);
        color: g.$light-color;
        border-radius: inherit;
        font-weight: 700;
        // font-size: 1.5em;
        display: grid;
        place-items: center;
        opacity: 0;
        padding: 0 1em;
        transition: all 0.2s ease;

        span {
          font-size: 0.5em;
        }

        &:hover {
          opacity: 1;
          backdrop-filter: invert(1) blur(2px);
        }
      }
    }
  }

  .swiper {
    .swiper-slide {
      width: 100%;
      height: 100%;
      font-size: 1.5em;
      display: flexbox;
      align-items: flex-start;
      justify-content: center;

      &:nth-child(1) {
        h3 {
          background-color: rgba($color: g.$warm-color, $alpha: 0.7);
          color: g.$light-color;
          font-weight: 700;
          padding: 0.5em;
        }
      }

      h1,
      h3 {
        margin: 0;
      }

      h3 {
        font-size: 0.5em;
      }

      p {
        padding: 1.5em 2em;
      }
    }
  }
}
