.contact-section {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;

  .contact-btn {
    margin: 0.5em;
  }
}

@media screen and (max-width: 600px) {
  .contact-section {
    .contact-btn {
      font-size: 0.65em;
    }
  }
}
