@use '../../Styles/global' as g;

.btn-95,
.btn-95:after,
.btn-95:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-95:-moz-focusring {
  outline: auto;
}
.btn-95 {
  width: 3.5em;
  height: 3.5em;
  color: g.$warm-color;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  transition: 0.2s;
  -webkit-mask-image: none;
}
.btn-95:hover {
  background: g.$warm-color;
  color: g.$light-color;
  transform: scale(1.2);
}
.btn-95:before {
  border: 5px solid g.$warm-color;
  border-radius: 50%;
  content: '';
  inset: 1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(2);
  transition: 0.2s;
}
.btn-95:hover:before {
  opacity: 1;
  transform: scale(1);
}
