@mixin main-headers {
  font-weight: 900;
}

@mixin sub-headers {
  font-weight: 700;
}

@mixin messages-template {
  h1 {
    font-size: 10em;
    line-height: 1em;
    padding: 1em 0;
    margin: 0;
  }

  p {
    position: relative;
    top: -5em;
    font-size: 1.5em;
  }
}
