@mixin main-headers {
  font-weight: 900;
}

@mixin sub-headers {
  font-weight: 700;
}

@mixin messages-template {
  height: 110vh;
  font-size: 5em;
  line-height: 2em;
  padding: 3em 0;

  p {
    font-size: 0.25em;
    line-height: 0em;
  }
}
