@mixin main-headers {
  font-weight: 900;
}

@mixin sub-headers {
  font-weight: 700;
}

@mixin messages-template {
  h1 {
    font-size: 10em;
    line-height: 0.85em;
    margin: 0;
  }

  p {
    font-size: 1.25em;
    line-height: 4em;
    margin: 0;
    padding: 0;
  }
}

@mixin footer-font-colors {
  color: whitesmoke;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: whitesmoke;
  }
}

@mixin hover-color {
  color: rgb(56, 149, 255);
}
