@use '../../Styles/global' as g;

.about-section {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: white;

  .about-me-title {
    font-size: 1em;
    padding: 2em 0;
    margin: 0;
  }

  .about-me-main {
    font-size: 2vmax;
    padding: 0 5em;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    .about-me-main {
      font-size: 2.5vmax;
      padding: 0 2em;
    }
  }
}
