@use '../../Styles/global' as g;

.about-section {
  height: 100vh;
  display: grid;
  place-items: center;

  p {
    width: 65vw;
    font-size: 1.5em;
    text-align: justify;
    margin: 2em 0;
  }
}
