@use '../../Styles/global' as g;

.abilities-card {
  width: 27em;
  height: 30em;
  background-color: rgba($color: g.$warm-color, $alpha: 0.75);
  border-radius: 25px;
  padding: 2.5em;
  @include g.card-shadows;

  .divider {
    width: 2em;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: g.$secondary-color;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
  }

  p {
    text-align: justify;
    word-wrap: break-word;
    word-spacing: -0.75px;
    color: g.$light-color;
  }
}
