@use '../../Styles/global' as g;

.abilities-card {
  width: 27em;
  height: 30em;
  background-color: rgba($color: g.$warm-color, $alpha: 0.75);
  border-radius: 25px;
  padding: 2.5em;
  @include g.card-shadows;

  .divider {
    width: 2em;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: g.$secondary-color;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;

    li {
      border: 1px solid g.$light-color;
      background-color: rgba($color: g.$secondary-color, $alpha: 0.1);
      padding: 1em;
      border-radius: 12px;
      transform: scale(0.9);
      transition: all 0.2s ease;
      @include g.card-shadows;

      &:hover {
        transform: scale(1);
      }
      img {
        width: 2.5em;
        height: 2.5em;
      }
    }
  }

  p {
    text-align: justify;
    word-wrap: break-word;
    word-spacing: -0.75px;
    color: g.$light-color;
  }
}
