.exp-component {
  width: 100%;
  margin: 0 0 2.5em 0;
  position: relative;
  display: grid;
  place-items: center;

  #exp-title {
    font-size: 10em;
    position: absolute;
    top: 28.5%;
  }

  .exp-item {
    padding: 1em;
  }
}

@media screen and (max-width: 1000px) {
  .exp-component {
    #exp-title {
      font-size: 4em;
      font-weight: 900;
      position: static;
      margin: 0;
    }
  }
}
