.mobile-container {
  width: 100%;

  .dm-width {
    width: 20em;
  }

  .iphone-mockup {
    position: relative;
  }

  .dm-device {
    position: relative;
    width: 100%;
    padding-bottom: 203.477897%;
  }

  .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-repeat: no-repeat;
    background-image: url(../../Assets/gs22-clean.png);
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
  }

  .screen {
    background-color: black;
    overflow: hidden;
    position: absolute;
    top: 9%;
    bottom: 8.35%;
    left: 10.5%;
    right: 11.25%;
    border-radius: 23.5px;

    img {
      width: 100%;
    }
  }
}
