$main-color: #118df0;
$secondary-color: #0e2f56;
$warm-color: #ff304f;
$light-color: #ececda;

@mixin box-shadows {
  box-shadow: 0px 2px 25px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 25px 5px rgba(0, 0, 0, 0.5);
}

@mixin card-shadows {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin text-shadows {
  text-shadow: 2px 7px 10px rgba(0, 0, 0, 0.5);
}
