@use '../../Styles/global' as g;

.intro-section {
  min-height: 80vh;
  position: relative;

  .intro-title {
    h3 {
      font-size: 2vmax;
      margin: 2em 0;
    }
  }

  .scroll-btn {
    position: absolute;
    bottom: 3.5em;
  }
}
