@use '../../Styles/global' as g;

.intro-section {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;

  .intro-title {
    h3 {
      font-size: 1.75vmax;
      font-weight: 700;
      margin: 1em 0;
    }
  }

  .scroll-btn {
    position: absolute;
    bottom: 3.5vmax;
  }
}

@media screen and (max-width: 600px) {
  .scroll-btn {
    bottom: 0;
  }
}

@media screen and (min-width: 1400px) {
  .intro-section {
    .scroll-btn {
      bottom: 2%;
    }
  }
}
