.menu-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: grid;
  place-items: center;
  bottom: 0%;
  z-index: -1;
  background: rgba($color: #ffffff, $alpha: 0.9);
  animation: fadeInOut 0.5s ease-in-out;

  ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
    line-height: 3em;
  }

  li {
    width: 100vw;
    font-size: 2.5em;
    font-family: 'Space Grotesk';
    font-weight: 700;

    &:hover {
      background-color: #000;
      color: white;
    }
  }

  #overlay-footer {
    width: 100%;
    height: 25%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: absolute;
    bottom: 0;
    text-align: start;
    line-height: 1em;

    h1,
    h3,
    h5 {
      color: whitesmoke;
    }

    #overlay-footer-items {
      padding: 0 1em;
    }
  }
}

@keyframes fadeInOut {
  0% {
    background-color: rgba($color: #ffffff, $alpha: 0);
  }
  100% {
    background-color: rgba($color: #ffffff, $alpha: 0.9);
  }
}
