.contact {
  width: 100%;

  .dm-width {
    width: 25em;
  }

  .iphone-mockup {
    position: relative;
    z-index: 5;
  }

  .dm-device {
    position: relative;
    width: 100%;
    padding-bottom: 203.477897%;
  }

  .device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-repeat: no-repeat;
    background-image: url(../../Media/gs22-clean.png);
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
  }

  .screen {
    background-color: black;
    overflow: hidden;
    position: absolute;
    top: 8.75%;
    bottom: 8.5%;
    left: 11%;
    right: 11.5%;
    border-radius: 28.5px;

    img {
      width: 100%;
    }
  }

  // h1 {
  //   font-size: 10rem;
  //   line-height: 1em;
  //   white-space: nowrap;
  //   animation: my-animation 15s linear infinite;
  //   /* animation properties */
  //   -moz-transform: translateX(100%);
  //   -webkit-transform: translateX(100%);
  //   transform: translateX(100%);

  //   -moz-animation: my-animation 15s linear infinite;
  //   -webkit-animation: my-animation 15s linear infinite;
  // }
}

// /* for Firefox */
// @-moz-keyframes my-animation {
//   from {
//     -moz-transform: translateX(100%);
//   }
//   to {
//     -moz-transform: translateX(-100%);
//   }
// }

// /* for Chrome */
// @-webkit-keyframes my-animation {
//   from {
//     -webkit-transform: translateX(100%);
//   }
//   to {
//     -webkit-transform: translateX(-100%);
//   }
// }

// @keyframes my-animation {
//   from {
//     -moz-transform: translateX(100%);
//     -webkit-transform: translateX(100%);
//     transform: translateX(100%);
//   }
//   to {
//     -moz-transform: translateX(-100%);
//     -webkit-transform: translateX(-100%);
//     transform: translateX(-100%);
//   }
// }
