@use '../../Styles/global' as g;

.main-navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 1.5em;
  z-index: 2;

  .hamburger-menu {
    p {
      margin: 0;
      color: g.$warm-color;
    }
  }
}
