.navbar {
  width: 100%;
  height: 4em;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  position: sticky;
  display: grid;
  align-items: center;
  z-index: 6;

  .navbar-item {
    padding: 0 0.5em;
  }
}
