/* The exp card container - set the width and height to whatever you want. We have added the border property to demonstrate that the exp itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.exp-card {
  background-color: transparent;
  width: 32.5em;
  height: 20em;
  border-radius: 15px 50px;
}

/* This container is needed to position the front and back side */
.exp-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal exp when you move the mouse over the exp box container */
.exp-card:hover .exp-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.exp-card-front,
.exp-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: rgba(19, 19, 88, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Style the front side (fallback if image is missing) */
.exp-card-front {
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 15px 50px;

  section {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    h1 {
      font-size: 1.5em;
      text-transform: uppercase;
      margin: 0;
      padding: 0.5em 0;
    }
  }
}

/* Style the back side */
.exp-card-back {
  color: white;
  display: grid;
  place-items: center;
  border-radius: 50px 15px;
  transform: rotateY(180deg);

  h1 {
    font-weight: 700;
    text-transform: uppercase;
  }

  h1,
  h4 {
    color: white;
  }

  p {
    height: 8.5em;
    padding: 1em 2em;
    line-height: 1.5em;
    text-align: justify;
  }

  .modal-btn {
    color: #fff;
  }
}

@media screen and (max-width: 600px) {
  .exp-card {
    width: 23em;
    height: 32em;
  }

  .exp-card-front {
    section {
      h1 {
        font-size: 1.25em;
      }
    }
  }

  .exp-card-back {
    p {
      margin: 5em 0;
    }
  }
}
