@use '../../Sass/Style.scss';

.tech-stack-component {
  width: 100%;
  position: relative;
  top: -7em;
  padding: 2.5em 0;

  h1 {
    font-size: 8em;
    font-weight: 700;
    margin: 0 0 1em 0;
  }

  ul {
    list-style: none;
    transform-style: preserve-3d;
    animation: three-dimensions-circle 30s linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  li {
    font-size: 5vw;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  @for $i from 1 through 12 {
    li:nth-child(#{$i}) {
      transform: translate(-50%, -50%)
        rotate(#{$i * 30 - 30}deg)
        translateY(6em)
        rotateX(90deg);

      &:hover {
        @include Style.hover-color;
      }
    }
  }
}

@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }
  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}

@media screen and (max-width: 600px) {
  .tech-stack-component {
    padding: 3em 0 0 0;

    h1 {
      font-size: 3em;
      margin: 1em 0;
    }

    li {
      font-size: 5vw;
    }
  }
}
