@use '../../Sass/Style.scss';

.footer {
  background: black;
  display: grid;
  @include Style.footer-font-colors;
  padding: 1em;

  .personal-title {
    text-align: start;
    display: grid;
    margin: 0 1em;
    line-height: 2em;

    .personal-items {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }

      .footer-btn {
        margin: 0 0.25em;
      }
    }
  }

  .site-map {
    text-align: start;
    padding: 1em;

    .site-map-items {
      padding: 2em;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li a {
          color: whitesmoke;

          &:hover {
            color: rgb(56, 149, 255);
          }
        }
      }
    }
  }
}
