.steps-component {
  .steps-container {
    .steps-content {
      width: 40em;
      height: 25em;
      display: grid;
      place-items: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .steps-component {
    .steps-container {
      .steps-content {
        width: 100%;
        height: auto;
      }
    }
  }
}
