.roles-section {
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin-bottom: 7em;

  .role-title {
    font-size: 1em;
    padding: 2em 0;
    margin: 0;
  }

  .roles-card-container {
    margin: 1em;
  }
}
