.roles-section {
  width: 100%;
  min-height: 100vh;

  h1 {
    font-size: 1em;
    margin-bottom: 2em;
  }

  .ability-card {
    margin: 1.5em;

    &:hover {
      transform: scale(1.05);
      transition: 0.1s ease-in;
      cursor: pointer;
    }
  }
}
