body {
  color: rgb(110, 110, 110);
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(81, 81, 81);
  font-family: 'Syncopate', sans-serif;
}

p {
  font-family: 'Spinnaker', sans-serif;
}

li {
  font-family: 'Spinnaker', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
