.contact-component {
  margin: 2em;

  .connect-container {
    display: grid;
    place-items: center;

    .contact-btns {
      margin: 0 0.25em;
    }
  }

  .contact-items {
    padding: 2em;
  }
}
