@use '../../Styles/global' as g;

.tilt-card {
  width: 42vw;
  aspect-ratio: 1.8 / 1;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50px 120px;
  @include g.text-shadows;
  transform-style: preserve-3d;

  .tilt-card-content {
    width: 100%;
    height: 100%;
    transform: translateZ(60px);
    @include g.text-shadows;

    .renderer {
      width: 35%;
      height: 100%;
      position: absolute;
      left: 3vmax;
      pointer-events: none;
      overflow: hidden;
    }

    .details {
      width: 60%;
      height: 100%;
      position: absolute;
      right: 3vmax;
      bottom: 0;
      display: grid;
      place-items: center;

      h3,
      h6 {
        color: g.$warm-color;
        font-weight: 700;
        text-align: left;
        margin: 0;
      }

      h3 {
        font-size: 1.5vmax;
      }

      h6 {
        font-size: 0.5vmax;
      }

      .button-group {
        font-size: 1.5vmax;
        padding-top: 2vmax;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .tilt-card {
    width: 90%;
    aspect-ratio: 1 / 1.6;

    .tilt-card-content {
      .renderer {
        width: 100%;
        left: -7%;
      }

      .details {
        width: 100%;
        left: 0;

        h3,
        h6 {
          font-weight: 700;
          text-align: center;
          font-size: 1.75vmax;
        }

        .button-group {
          font-size: 2.5vmax;
        }
      }
    }
  }
}
