@use '../../Styles/global' as g;

.tilt-card {
  width: 42em;
  min-height: 25em;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  position: relative;
  transform-style: preserve-3d;

  .tilt-card-content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 4em;
    transform: translateZ(60px);

    .card-number {
      color: g.$warm-color;
      font-weight: 700;
      @include g.text-shadows;
      margin-bottom: 5em;
    }

    .card-details {
      text-align: left;
    }

    h3,
    h6 {
      font-family: 'Syncopate', sans-serif;
      font-weight: 700;
      color: g.$warm-color;
      margin: 0;
      line-height: 1.25em;
      @include g.text-shadows;
    }
  }
}
